
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/phpstan.neon

/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/tmp/phpstan/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/apache-pack ###
/public/.htaccess
###< symfony/apache-pack ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
